@model Final_ProjectJob.Jobs

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Orders", FormMethod.Post))
{
    <main>

        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="../assets/img/hero/about.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>@Html.DisplayFor(model => model.Title)</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End -->

        <div>
            <asp:Label ID="lblMsg" runat="server" Visible="false"></asp:Label>
        </div>

        <!-- job post company Start -->
        <div class="job-post-company pt-120 pb-120">
            <div class="container">

                <div class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        <div class="single-job-items mb-50">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                                    <a href="#">
                                        <img src=@Url.Content("~/Content/images/" + @Html.DisplayFor(model => model.CompanyImage)) style="width: 100px;height: auto" />
                                    </a>
                                </div>
                                <div class="job-tittle">
                                    <a href="#">
                                        <h2>@Html.DisplayFor(model => model.Title)</h2>
                                    </a>
                                    <ul>
                                        <il>@Html.DisplayFor(model => model.CompanyName)</il>
                                        <li>@Html.DisplayFor(model => model.State),@Html.DisplayFor(model => model.Country)</li>
                                        <il>@Html.DisplayFor(model => model.Salary)</il>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- job single End -->

                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Job Description</h4>
                                </div>
                                @Html.DisplayFor(model => model.Description)
                            </div>
                            <div class="post-details2  mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Required Knowledge, Skills, and Abilities</h4>
                                </div>
                                <ul>
                                    @Html.DisplayFor(model => model.Specialization)
                                </ul>
                            </div>
                            <div class="post-details2  mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Qualification/Experience Required</h4>
                                </div>
                                <ul>
                                    <li>@Html.DisplayFor(model => model.Qualification)</li>
                                    <li>@Html.DisplayFor(model => model.Experience)</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Job Overview</h4>
                            </div>
                            <ul>
                                <li>Posted date : <span>12 Aug 2019</span></li>
                                <li>Location : <span> @Html.DisplayFor(model => model.Country)</span></li>
                                <li>Vacancy : <span> @Html.DisplayFor(model => model.NoOfPost)</span></li>
                                <li>Job nature : <span> @Html.DisplayFor(model => model.JobType)</span></li>
                                <li>Salary :  <span> @Html.DisplayFor(model => model.Salary)</span></li>
                            </ul>
                            <div class="apply-btn2">
                                <p>
                                    @Html.HiddenFor(model => model.JobId)
                                    <input type="submit" value="Apply Now" class="btn btn-info pullright" />
                                </p>
                            </div>
                        </div>
                        <div class="post-details4  mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Company Information</h4>
                            </div>
                            <h4>@Html.DisplayFor(model => model.CompanyName)</h4>
                            <ul>
                                <li>Address: <span> @Html.DisplayFor(model => model.Address)</span></li>
                                <li>Name: <span> @Html.DisplayFor(model => model.CompanyName)</span></li>
                                <li>Web : <span> @Html.DisplayFor(model => model.Website)</span></li>
                                <li>Email: <span> @Html.DisplayFor(model => model.Email)</span></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
}
