@model Final_ProjectJob.AspNetUsers

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="main_container">
    <div style="background-image: url('~/Images/bg.jpg'); width: 100%; height: 720px; background-repeat:no-repeat;
            background-size: cover; background-attachment: fixed;">
        <div class="container pt-4 pb-4">
            <h3 class="text-center">Delete Resume</h3>
            <div class="row">
                <div class="col-12">
                    <h6>Personal Information</h6>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label>Full Name</label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Address</label>
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Mobile Number</label>
                        @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Email</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Country</label>
                        @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-12 pt-4">
                    <h6>Education/Resume Information</h6>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>10th Perctage/Grade</label>
                        @Html.EditorFor(model => model.TenthGrade, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenthGrade, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>12th Perctage/Grade</label>
                        @Html.EditorFor(model => model.TwelfthGrade, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TwelfthGrade, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Graduation with Pointer/Grade</label>
                        @Html.EditorFor(model => model.GraduationGrade, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GraduationGrade, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Post Graduation with Pointer/Grade</label>
                        @Html.EditorFor(model => model.PostGraduationGrade, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PostGraduationGrade, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>PHD  with Perctage/Grade</label>
                        @Html.EditorFor(model => model.Phd, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phd, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Job Profile/Work On</label>
                        @Html.EditorFor(model => model.WorksOn, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WorksOn, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Work Experience</label>
                        @Html.EditorFor(model => model.Experience, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Experience, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Resume</label>
                        @Html.EditorFor(model => model.Resume, new { htmlAttributes = new { @class = "form-control", type = "file" } })
                        @Html.ValidationMessageFor(model => model.Resume, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <input type="submit" value="Delete" class="btn btn-default" />
                }
            </div>
        </div>
    </div>
